body {
    font-family: sans-serif;
}

header{
    text-align: center;
    color: darkgreen;
    border: 4px solid black;
    border-radius: 10px;
}


img{
    width: 400px;
    height: 190px;
    border: 4px solid green;
}

footer p{
    background-color: darkviolet;
    color: darkgreen;
}

nav a{
    text-decoration: none;
    padding: 5px;
    color: green;
    border: 4px solid darkviolet;
    border-radius: 10px;
    margin: 7px;
}

nav{
    text-align: center;
    margin: 11px;
    
}

main p{
    color: green;
}

main h2{
    border: 4px solid darkgreen;
    border-radius: 10px;
    text-align: center;
    color: darkslategrey;
}
